@page "/management/new-employee"

@inject HRM.Services.EmployeeService EmployeeService
@inject HRM.Services.PositionService PositionService
@inject HRM.Services.DepartmentService DepartmentService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize(Roles = "Admin")]
@using HRM.Models
@using MudBlazor

<div class="container">
    <MudText Typo="Typo.h2" Class="text-center m-6" Style="font-weight: bold">Thêm nhân viên</MudText>
    <MudForm Model="_employee" @bind-IsValid="_success" class="my-lg-5 p-3 bg-white shadow-lg">
        <div class="form-row m-4">
            <div class="col mx-2">
                <MudTextField Variant="Variant.Outlined" Label="Họ tên nhân viên"
                              @bind-Value="_employee.Name" Required="true"
                              RequiredError="Không được để trống họ tên" />
            </div>
            <div class="col mx-2">
                <MudTextField Variant="Variant.Outlined" Label="Email"
                              @bind-Value="_employee.Email" Required="true"
                              RequiredError="Không được để trống email" />
            </div>

        </div>
        <div class="form-row m-4">
            <div class="col mx-2">
                <MudDatePicker @bind-Date="_employee.Birth"
                               PickerVariant="PickerVariant.Dialog"
                               Variant="Variant.Outlined"
                               Label="Ngày sinh"
                               TitleDateFormat="dd/MM/yyyy"
                               DateFormat="dd/MM/yyyy"
                               MaxDate="@DateTime.Now"
                               Required="true"
                               RequiredError="Không được để trống ngày sinh" />
            </div>
            <div class="col mx-2">
                <MudText>Giới tính</MudText>
                <MudRadioGroup @bind-SelectedOption="_employee.Gender" Required="true"
                               RequiredError="Không được để trống giới tính">
                    <MudRadio Option="_nam" Color="Color.Primary" Dense="true">Nam</MudRadio>
                    <MudRadio Option="_nu" Color="Color.Secondary" Dense="false">Nữ</MudRadio>
                </MudRadioGroup>
            </div>
        </div>
        <div class="form-row m-4">
            <div class="col mx-2">
                <MudTextField @bind-Value="_employee.PhoneNumber"
                              Variant="Variant.Outlined"
                              Label="Số điện thoại"
                              Adornment="Adornment.None"
                              Required="true"
                              RequiredError="Không được để trống số điện thoại" />
            </div>
            <div class="col mx-2">
                <MudTextField @bind-Value="_employee.Wage"
                              Variant="Variant.Outlined"
                              Label="Lương cơ bản"
                              Adornment="Adornment.Start"
                              AdornmentIcon="@Icons.Material.Filled.AttachMoney" />
            </div>
        </div>
        <div class="form-row m-4">
            <div class="col mx-2">
                <MudSelect @bind-Value="@_employee.DepartmentId"
                           T="int?"
                           Label="Phòng ban" Strict="true"
                           Variant="Variant.Outlined"
                           AnchorOrigin="Origin.BottomCenter"
                           Required="true"
                           RequiredError="Không được để trống phòng ban">
                    @foreach (var department in _listDepartments)
                    {
                        <MudSelectItem T="int?" Value="@department.DepartmentId">@department.Name</MudSelectItem>
                    }
                </MudSelect>
            </div>
            <div class="col mx-2">
                <MudSelect @bind-Value="_employee.PositionId"
                           T="int?"
                           Label="Chức vụ" Strict="true"
                           Variant="Variant.Outlined"
                           AnchorOrigin="Origin.BottomCenter"
                           Required="true"
                           RequiredError="Không được để trống chức vụ">
                    @foreach (var position in _listPositions)
                    {
                        <MudSelectItem T="int?" Value="@position.PositionId">@position.Name</MudSelectItem>
                    }
                </MudSelect>
            </div>
        </div>
        <div class="form-row m-4">
            <div class="col mx-2">
                <MudTextField @bind-Value="_employee.Description"
                              T="string" Label="Mô tả"
                              Variant="Variant.Outlined"
                              Lines="4" />
            </div>
        </div>
        <div class="form-row m-4">
            <div class="col text-center">
                <MudButton OnClick="OnInsertEmployee"
                           Variant="Variant.Filled"
                           Color="Color.Success"
                           Disabled="@(!_success)">
                    Thêm
                </MudButton>
            </div>
        </div>
    </MudForm>
</div>

@code {
    private Employee _employee = new Employee();
    private string _nam = "nam";
    private string _nu = "nữ";
    private bool _success;
    private List<Models.Position> _listPositions;
    private List<Department> _listDepartments;

    protected override void OnInitialized()
    {
        _listDepartments = DepartmentService.GetAllDepartments();
        _listPositions = PositionService.GetAllPositions();
    }

    void OnInsertEmployee()
    {
        _employee.JoinDate = DateTime.Now;
        if (_employee.Wage == null)
        {
            _employee.Wage = PositionService.GetPosition((int)_employee.PositionId).AverageWage;
        }
        EmployeeService.AddEmployee(_employee);
        NavigationManager.NavigateTo($"/management/employees");
    }
}
