@page "/employee/profile/{EmployeeId:int}"
@using HRM.Components
@using HRM.Models
@using HRM.Services
@using MudBlazor
@inject EmployeeService EmployeeService
@inject DepartmentService DepartmentService
@inject PositionService PositionService

<MudGrid Justify="Justify.Center">
    <MudItem xs="3">
        <MudPaper Class="text-center py-8">
            <div class="my-3">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfYi6KIX_Q1h-ZWkASf29RMe15B0LwUSuszhbrG_C8HQ8jC70XDYrrgonZ6fs1iM7bsuA&usqp=CAU"
                     style="width:50%; border-radius:50%" />
            </div>
            <MudText Typo="Typo.h4" Inline="false">@_employee.Name</MudText>
            <MudText Typo="Typo.subtitle1" Inline="false">@_employee.Email</MudText>
            <div class="my-3">
                <MudButton Color="Color.Success"
                           Variant="Variant.Filled"
                           EndIcon="@Icons.Material.Filled.Edit">
                    Sửa thông tin
                </MudButton>
            </div>
        </MudPaper>
    </MudItem>
    <MudItem xs="8">
        <MudPaper Class="py-8">
            <MudGrid>
                <MudItem xs="6" Class="p-5">
                    <p style="font-size:20px">Chức vụ: @_position.Name</p>
                    <p style="font-size:20px">ngày sinh: @GetDate(_employee.Birth.ToString())</p>
                    <p style="font-size:20px">Giới tính: @_employee.Gender</p>
                </MudItem>
                <MudItem xs="6" Class="p-5">
                    <p style="font-size:20px">Phòng ban: @_department.Name</p>
                    <p style="font-size:20px">Tuổi: @GetAge(_employee.Birth.ToString())</p>
                    <p style="font-size:20px">Số diện thoại: 0@_employee.PhoneNumber</p>
                </MudItem>
                <MudItem xs="12" Class="p-5">
                    <p style="font-size:30px; font-weight:bold">Mô tả</p>
                    <p style="font-size:20px">@_employee.Description</p>
                </MudItem>
            </MudGrid>
        </MudPaper>
    </MudItem>
</MudGrid>

@code {
    [Parameter] public int EmployeeId { get; set; }
    private Employee _employee;
    private Models.Position _position;
    private Department _department;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _employee = EmployeeService.GetEmployee(EmployeeId);
        _position = PositionService.GetPosition((int)_employee.PositionId);
        _department = DepartmentService.GetDepartment((int)_employee.DepartmentId);
    }

    string GetDate(string DateStr)
    {
        return DateStr.Split(" ")[0];
    }

    int GetAge(string DateStr)
    {
        string[] arrDateTime = DateStr.Split(" ");
        string[] arrDate = arrDateTime[0].Split("/");
        return DateTime.Now.Year - int.Parse(arrDate[2]);
    }
}
