@page "/personel/new-employee"

@inject HRM.Services.EmployeeService EmployeeService
@using HRM.Models
@using MudBlazor

<div class="container">
    <EditForm Model="_employee" class="my-lg-5 p-3 bg-white shadow-lg">
        <div class="form-row m-4">
            <div class="col mx-2">
                <MudTextField Variant="Variant.Outlined" Label="Tên nhân viên" @bind-Value="_employee.Name"/>
            </div>
            <div class="col mx-2">
                <MudTextField Variant="Variant.Outlined" Label="Email" @bind-Value="_employee.Email" />
            </div>
            
        </div>
        <div class="form-row m-4">
            <div class="col mx-2">
                <MudDatePicker Date="_employee.Birth"
                               PickerVariant="PickerVariant.Dialog"
                               Variant="Variant.Outlined"
                               Label="Ngày sinh"
                               Text="1/1/2000"
                               DateFormat="dd/MM/yyyy"
                               MaxDate="@DateTime.Now"/>
            </div>
            <div class="col mx-2">
                <MudText>Giới tính</MudText>
                <MudRadioGroup @bind-SelectedOption="_employee.Gender">
                    <MudRadio Option="@nam" Color="Color.Primary" Dense="true">Nam</MudRadio>
                    <MudRadio Option="@nam" Color="Color.Secondary" Dense="false">Nữ</MudRadio>
                </MudRadioGroup>
            </div>
        </div>
        <div class="form-row m-4">
            <div class="col mx-2">
                <MudTextField @bind-Value="_employee.PhoneNumber"
                              Variant="Variant.Outlined"
                              Label="Số điện thoại"
                              Adornment="Adornment.Start"/>
            </div>
            <div class="col mx-2">
                <MudTextField @bind-Value="_employee.Wage"
                              Variant="Variant.Outlined"
                              Label="Lương cơ bản"
                              Adornment="Adornment.Start"
                              AdornmentIcon="@Icons.Material.Filled.AttachMoney"/>
            </div>
        </div>
        <div class="form-row m-4">
            <div class="col mx-2">
                <MudSelect @bind-Value="@_employee.DepartmentId"
                           T="int?"
                           Label="Phòng ban" Strict="true" 
                           Variant="Variant.Outlined"
                           AnchorOrigin="Origin.BottomCenter">
                    <MudSelectItem T="int?" Value="1">gigi</MudSelectItem>
                    <MudSelectItem T="int?" Value="1" />

                </MudSelect>
            </div>
            <div class="col mx-2">
                <MudSelect @bind-Value="_employee.PositionId"
                           T="int?"
                           Label="Chức vụ" Strict="true"
                           Variant="Variant.Outlined"
                           AnchorOrigin="Origin.BottomCenter">
                    <MudSelectItem T="int?" Value="1">gigi</MudSelectItem>
                    <MudSelectItem T="int?" Value="1" />
                </MudSelect>
            </div>
        </div>
        <div class="form-row m-4">
            <div class="col mx-2">
                <MudTextField @bind-Value="_employee.Description"
                              T="string" Label="Mô tả" 
                              Variant="Variant.Outlined" 
                              Lines="4" />
            </div>
        </div>
    </EditForm>
</div>

@code {
    private Employee _employee = new Employee();
    String nam = "nam";
}
